*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
body{
    background-image: url(../Assets/cricket-ground\ \(1\).png);
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
}
.container{
    background: rgba(255, 255, 255, 0.89);     
    height: 50px;
}

.container ul{
    list-style-type: none;
    display:flex;
    justify-content: flex-end;
}

.container li{
    width: 120px;
    height: 25px;
    color: rgb(190, 0, 181);
    margin: 14px 40px 0 20px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    text-align: center;
    
}
.container li img{
    top: 3px;
    cursor: pointer;
}
.container li a{
    top: -5px;
    position: relative;
}
#home, #new_match, #history,
#logout{
    text-decoration: none;
}
.choose{
    display: flex;
    justify-content: space-around

}
.new-match .player-icon{
    border: none;
    background: transparent;
    margin-top: 80%;
    cursor: pointer;

}
.history .ground-icon{
    border: none;
    background: transparent;
    margin-top: 80%;
    cursor: pointer;
    
}
.new-match p{
    background-color: rgba(195, 21, 230, 0.651);
    width: 120px;
    height: 25px;
    font-size: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    border-radius: 5px;
    color: #fff;
    margin: 5% 0 0 5%;
    cursor: pointer;
}
.history p{
    background-color: rgba(195, 21, 230, 0.664);
    width: 120px;
    height: 25px;
    font-size: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    border-radius: 5px;
    color: #fff;
    margin: 5% 0 0 10%;
    cursor: pointer;
}

